.feed{
    padding: 30px 20px 0;
};
.imformation{
    display: flex;
    flex-shrink: 0;
    align-items: stretch;
    flex-direction: row;
    position: relative;
}
.profile-img{
    position: absolute;
    top: -9px;
    left: -9px;
    height: 400px;
    width: 250px;
};
.follower{
    align-items: center;
    align-self: center;
    display: block;
    flex: none;
    justify-content: center;
    position: relative;
}
